#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on early-init
    export TOUCH_CONF_DIR /data/vendor/misc/touchscreen
    export TOUCH_DATA_DIR /mnt/vendor/factory/touchscreen
    export MPU_DATA_DIR /data/vendor/misc/mpu
    export MPU_CONF_DIR /mnt/vendor/factory/mpu

on post-fs-data
    rm /data/misc/touchscreen
    rm /data/misc/mpu
    mkdir /usercalib/touchscreen 0755 system system
    symlink /usercalib/touchscreen /data/vendor/misc/touchscreen
    chown system system /data/vendor/misc/touchscreen
    chmod 0755 /data/vendor/misc/touchscreen
    mkdir /usercalib/mpu 0755 system system
    symlink /usercalib/mpu /data/vendor/misc/mpu
    chown system system /data/vendor/misc/mpu
    chmod 0755 /data/vendor/misc/mpu
