#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.comms.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755
    
# make trace_marker everyone writable
    chmod 222 /sys/kernel/debug/tracing/trace_marker

on init
    export LD_PRELOAD "libshim_zw.so"

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # create directory for mounting usb drives
    mkdir /mnt/media_rw/usbdrive 0700 media_rw media_rw
    mkdir /storage/usbdrive 0700 root root
    symlink /mnt/media_rw/usbdrive /storage/usbdrive
    symlink /mnt/media_rw/usbdrive /usbdrive

    # create directory for mounting calibration partition
    mkdir /mnt/factory 0666 system system
    
    mkdir /factory 0666 system system
    mkdir /factory/wifi_config 0666 system system

    # create directory for mounting user calibration partition
    mkdir /mnt/usercalib 0771 system system

    start watchdogd

on fs
# mount console ramooops
   mount pstore pstore /sys/fs/pstore

on post-fs-data
    # We chown/chmod /mnt/usercalib again so because mount is run as root + defaults
    chown system system /usercalib
    chmod 0771 /usercalib

    # create the lost+found directories, so as to enforce our permissions
    mkdir /usercalib/lost+found 0770 root root

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /usercalib

    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/hwc 0771 system graphics
    mkdir /data/nvcam 0700 media camera
    chown dhcp dhcp /data/misc/dhcp

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # create directory for mediaserver EGL blob cache
    mkdir /data/misc/mediaserver 0770 media media

# Set up HDCP
import init.hdcp.rc

on boot

# backlight
    chown system system /sys/class/backlight/lcd-backlight/brightness
    
# charger
    chown system system /sys/devices/platform/7000c400.i2c/i2c-1/1-006b/disabled_by_user

#dt2w
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-004a/wakeup_mode
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-0020/input/input0/wake_gesture
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-0020/input/input3/wake_gesture

## cmhw permissions
# key disabler
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-004a/enable_keys
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-0020/input/input0/0dbutton
    chown system system /sys/devices/platform/7000c700.i2c/i2c-3/3-0020/input/input3/0dbutton

# vibrator intensity
    chown system system /sys/vibrator/pwmvalue

# CMU
    chown system system /sys/devices/platform/host1x/tegradc.0/cmu_enable

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/kernel/tegra_volt_cap/cpu_volt
    chmod 0664 /sys/kernel/tegra_volt_cap/cpu_volt
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/platform/host1x/gk20a.0/enable_3d_scaling

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode

# Tegra wakeup monitor
    chown system system /sys/devices/platform/tegra_wakeup_monitor/cmd
    chown system system /sys/devices/platform/tegra_wakeup_monitor/monitor_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/nf_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/am_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/init_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/add_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/del_ports

# Sensor
    chown system system /sys/class/invensense/mpu/accl_enable
    chown system system /sys/class/invensense/mpu/accl_fifo_enable
    chown system system /sys/class/invensense/mpu/accl_delay
    chown system system /sys/class/invensense/mpu/accl_max_range
    chown system system /sys/class/invensense/mpu/enable
    chown system system /sys/class/invensense/mpu/gyro_enable
    chown system system /sys/class/invensense/mpu/gyro_fifo_enable
    chown system system /sys/class/invensense/mpu/gyro_delay
    chown system system /sys/class/invensense/mpu/gyro_max_range
    chown system system /sys/class/invensense/mpu/lpa_delay
    chown system system /sys/class/invensense/mpu/motion_enable
    chown system system /sys/class/invensense/mpu/motion_threshold
    chown system system /sys/class/invensense/mpu/power_state
    chown system system /sys/class/invensense/mpu/key

    chown system system /sys/class/invensense/mpu/akm89xx/akm89xx/enable
    chown system system /sys/class/invensense/mpu/akm89xx/akm89xx/delay
    chown system system /sys/class/invensense/mpu/akm89xx/akm89xx/max_range
    chown system system /sys/class/invensense/mpu/akm89xx/akm89xx/resolution
    
    chown system system /sys/class/invensense/mpu/bmpX80/bmpX80/enable
    chown system system /sys/class/invensense/mpu/bmpX80/bmpX80/delay
    chown system system /sys/class/invensense/mpu/bmpX80/bmpX80/max_range
    chown system system /sys/class/invensense/mpu/bmpX80/bmpX80/resolution

    chown system system /sys/class/sensors/light/device/amb_clear

# Touch
    chown system system /sys/class/input/input0/enabled

# nvdps
    chown system system /sys/devices/platform/host1x/tegradc.0/nvdps
    chown system system /sys/class/graphics/fb0/device/nvdps

#ozwpan driver: WiFi direct USB shim driver
    chown system system /dev/ozwpan
    chown system system /sys/class/ozmo_wpan/ozwpan/devices
    chown system system /sys/class/ozmo_wpan/ozwpan/select
    chown system system /sys/class/ozmo_wpan/ozwpan/bind
    chmod 0660 /sys/class/ozmo_wpan/ozwpan/bind

# LP5521
    chown system system /sys/bus/i2c/drivers/lp5521/0-0032/select_engine
    chown system system /sys/bus/i2c/drivers/lp5521/0-0032/run_engine

# TLK storage service
import init.tlk.rc

on property:ro.debuggable=1
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state
    # Invensense interface
    chmod 0666 /sys/class/invensense/mpu/accl_bias
    chmod 0666 /sys/class/invensense/mpu/accl_enable
    chmod 0666 /sys/class/invensense/mpu/accl_fifo_enable
    chmod 0666 /sys/class/invensense/mpu/accl_fs
    chmod 0666 /sys/class/invensense/mpu/accl_matrix
    chmod 0666 /sys/class/invensense/mpu/clock_source
    chmod 0666 /sys/class/invensense/mpu/compass_enable
    chmod 0666 /sys/class/invensense/mpu/compass_matrix
    chmod 0666 /sys/class/invensense/mpu/compass_scale
    chmod 0666 /sys/class/invensense/mpu/dev
    chmod 0666 /sys/class/invensense/mpu/dmp_firmware
    chmod 0666 /sys/class/invensense/mpu/enable
    chmod 0666 /sys/class/invensense/mpu/fifo_rate
    chmod 0666 /sys/class/invensense/mpu/firmware_loaded
    chmod 0666 /sys/class/invensense/mpu/flick_axis
    chmod 0666 /sys/class/invensense/mpu/flick_counter
    chmod 0666 /sys/class/invensense/mpu/flick_int_on
    chmod 0666 /sys/class/invensense/mpu/flick_lower
    chmod 0666 /sys/class/invensense/mpu/flick_message_on
    chmod 0666 /sys/class/invensense/mpu/flick_upper
    chmod 0666 /sys/class/invensense/mpu/gyro_enable
    chmod 0666 /sys/class/invensense/mpu/gyro_fifo_enable
    chmod 0666 /sys/class/invensense/mpu/gyro_fs
    chmod 0666 /sys/class/invensense/mpu/gyro_matrix
    chmod 0666 /sys/class/invensense/mpu/key
    chmod 0666 /sys/class/invensense/mpu/lpa_freq
    chmod 0666 /sys/class/invensense/mpu/lpa_mode
    chmod 0666 /sys/class/invensense/mpu/pedometer_steps
    chmod 0666 /sys/class/invensense/mpu/pedometer_time
    chmod 0666 /sys/class/invensense/mpu/power
    chmod 0666 /sys/class/invensense/mpu/power_state
    chmod 0666 /sys/class/invensense/mpu/raw_accl
    chmod 0666 /sys/class/invensense/mpu/raw_gyro
    chmod 0666 /sys/class/invensense/mpu/reg_dump
    chmod 0666 /sys/class/invensense/mpu/self_test
    chmod 0666 /sys/class/invensense/mpu/temp_offset
    chmod 0666 /sys/class/invensense/mpu/temp_scale
    chmod 0666 /sys/class/invensense/mpu/temperature
    chmod 0666 /sys/class/invensense/mpu/uevent

    # Invensense debug register interface.
    chmod 0666 /sys/class/invensense/mpu/dbg_reg
    chmod 0666 /sys/class/invensense/mpu/dbg_dat

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -p -B -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 116 115 114

# unified scaling setup
import init.ussrd.rc

# Thie yields each tegra wdt expiration to be at 30 secs and fourth expiration for reboot at 120 secs.
service watchdogd /sbin/watchdogd 10 110
    class core
    seclabel u:r:watchdogd:s0
