# wifi mac loading service
type conn_wifi, domain;
allow conn_wifi init:unix_stream_socket connectto;
allow conn_wifi kernel:system module_request;
allow conn_wifi property_socket:sock_file write;
allow conn_wifi sysfs:file { open read write };

