# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow any app to read battery stats
r_dir_file(untrusted_app, sysfs_nvi2c)
r_dir_file(untrusted_app, sysfs_power_supply)

