# Copyright (c) 2016-2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow kernel self:capability net_raw;

# for kdevtmpfs
dontaudit kernel device:dir { write create add_name remove_name rmdir };
dontaudit kernel device:{chr_file blk_file } { create setattr getattr unlink };
dontaudit kernel self:capability mknod;

# allow kernel to read iM501 firmware
allow kernel vendor_firmware_im501_file:file r_file_perms;
