# Copyright (c) 2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type mapper, domain, coredomain;
app_domain(mapper)
net_domain(mapper)
add_service(mapper, nv_mapper_service)

hal_client_domain(mapper, hal_cplservice)
hal_client_domain(mapper, hal_statscollectionproxy)

allow mapper activity_service:service_manager find;
allow mapper display_service:service_manager find;
allow mapper network_management_service:service_manager find;
allow mapper connectivity_service:service_manager find;
allow mapper appops_service:service_manager find;
allow mapper mount_service:service_manager find;
allow mapper content_service:service_manager find;
allow mapper accessibility_service:service_manager find;
allow mapper power_service:service_manager find;
allow mapper input_method_service:service_manager find;
allow mapper surfaceflinger_service:service_manager find;
allow mapper graphicsstats_service:service_manager find;
allow mapper nvcpl_service:service_manager find;
allow mapper nvphsd_hwservice:hwservice_manager find;
allow mapper input_service:service_manager find;
allow mapper user_service:service_manager find;
allow mapper audio_service:service_manager find;
allow mapper notification_service:service_manager find;
allow mapper account_service:service_manager find;
allow mapper textservices_service:service_manager find;
allow mapper registry_service:service_manager find;
allow mapper media_session_service:service_manager find;
