# Copyright (c) 2017-2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

allow mediaextractor gpu_device:chr_file { open read write };

# allow setup to show how to first pair
allow mediaextractor oem_media_file:file r_file_perms;

allow mediaextractor system_server:fifo_file { append write };

userdebug_or_eng(`
  # allow multiplayer to access media files in sdcards/pen drives
  allow mediaextractor fuse:file r_file_perms;
')
