# Copyright (c) 2014-2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For ro.sf.lcd_density
type surfaceflinger_prop, property_type;
type thermal_prop, property_type;

# for sys.vrr.min-refr-per-ns
type vrr_prop, property_type;

# For ro.hardware.gps
type gpsd_prop, property_type;

# For pbc
type pbc_prop, property_type;

# For properties written by adbenable.sh
type udc_prop, property_type;

# For power_button_recovery
type power_button_recovery_prop, property_type;

# darcy convertible usb port mode
type usb_mode_prop, property_type;

# AB OTA properties
type ota_prop, property_type;

# For flynnd
type flynnd_prop, property_type;

# For audio hal
type audiohal_prop, property_type;
type audiohal_ro_prop, property_type;

# hdcp srm location
type hdcp_srm_prop, property_type;

# Hardware Composer properties
type hwc_prop, property_type;

# Netflix prop
type nrdp_prop, property_type;

# For power hal
type power_hint_prop, property_type;
type powerhal_prop, property_type;

type vendor_usb_prop, property_type;
type vendor_camera_prop, property_type;
type vendor_bt_prop, property_type;
type nvmedia_prop, property_type;
type tegra_graphics_prop, property_type;
type factoryhal_prop, property_type;
type gamestreaming_prop, property_type;
type mediavndsvc_prop, property_type;
type vendor_debug_prop, property_type;
type vendor_tee_prop, property_type;
type vendor_vold_prop, property_type;
type vendor_wifi_prop, property_type;
