# bt_loader service
type bt_loader, domain;
type bt_loader_exec, exec_type, file_type;

init_daemon_domain(bt_loader)
set_prop(bt_loader, bdaddr_prop)

allow bt_loader shell_exec:file rx_file_perms;
allow bt_loader toolbox_exec:file rx_file_perms;
allow bt_loader system_file:file execute_no_trans;
allow bt_loader devpts:chr_file rw_file_perms;
allow bt_loader proc_bluetooth_mac:file r_file_perms;
allow bt_loader sysfs_bluetooth_mac:file r_file_perms;

# Allow bt_loader to read a custom MAC address from /mnt/factory/<bluetooth>
r_dir_file(bt_loader, factory_file)
