#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on early-init
    # create /oem symbol link
    symlink /system/vendor/oem /oem
    chmod 0755 /oem
    chown root system /oem

    # create /lbh symbol link
    symlink /system/vendor/lbh /lbh
    chmod 0755 /lbh
    chown root system /lbh

    #hack to make hacked mipad GL blobs work (need /gl/libEGL_tegra.so path)
    symlink /system/lib/egl /gl
    chmod 0755 /gl
    chown root system /gl

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    setprop audio.custompolicy 1
    mount_all /fstab.tn8
    swapon_all /fstab.tn8

on boot
    #max resolution supported for Miracast is 1080p, represented interms of macroblocks
    setprop nvwfd.maxresolution_macroblocks 8160
    #enable Miracast game mode support
    setprop nvwfd.gamemode 1

on init
    setprop keyguard.no_require_sim true
    setprop persist.tegra.didim.enable 0

service charger /charger
    group graphics input
    seclabel u:r:healthd:s0
    class charger

on charger
    setprop sys.usb.config mtp
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/APP /system wait ro
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 0
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp -1
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
