typeattribute nvcpl_app coredomain;
app_domain(nvcpl_app)

add_service(nvcpl_app, nvcpl_service);

allow nvcpl_app activity_service:service_manager find;
allow nvcpl_app connectivity_service:service_manager find;
allow nvcpl_app display_service:service_manager find;
allow nvcpl_app network_management_service:service_manager find;
allow nvcpl_app sensorservice_service:service_manager find;
allow nvcpl_app user_service:service_manager find;
allow nvcpl_app power_service:service_manager find;
allow nvcpl_app mount_service:service_manager find;
allow nvcpl_app content_service:service_manager find;
allow nvcpl_app device_identifiers_service:service_manager find;

allow nvcpl_app system_app_data_file:{ file lnk_file } create_file_perms;
allow nvcpl_app system_app_data_file:dir create_dir_perms;

set_prop(nvcpl_app, system_prop)
