#Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.

#NVIDIA Corporation and its licensors retain all intellectual property
#and proprietary rights in and to this software, related documentation
#and any modifications thereto.  Any use, reproduction, disclosure or
#distribution of this software and related documentation without an express
#license agreement from NVIDIA Corporation is strictly prohibited.

type cac_log_dumper, domain;
type cac_log_dumper_exec, exec_type, file_type;

init_daemon_domain(cac_log_dumper)

# allow shell
allow cac_log_dumper shell_exec:file rx_file_perms;

# logcat
read_logd(cac_log_dumper)

# allow accessing toolbox files
allow cac_log_dumper toolbox_exec:file rx_file_perms;

# write into cac the logs dumped
allow cac_log_dumper cache_file:dir create_dir_perms;
allow cac_log_dumper cache_file:file create_file_perms;
allow cac_log_dumper cache_log_dumper_file:dir rw_dir_perms;
allow cac_log_dumper cache_log_dumper_file:file create_file_perms;

# Allow to get kernel log
allow cac_log_dumper kernel:system syslog_read;
