allow hal_graphics_composer_default sysfs_gpu:file r_file_perms;
allow hal_graphics_composer_default sysfs_gpu:dir r_dir_perms;
allow hal_graphics_composer_default self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow hal_graphics_composer_default proc_meminfo:file r_file_perms;

# TEMP untill i found the needeed nodes
allow hal_graphics_composer_default device:dir r_dir_perms;

allow hal_graphics_composer_default hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
allow hal_graphics_composer_default hal_configstore_default:binder call;
vndbinder_use(hal_graphics_composer_default);
