# Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


type hubcore, domain, service_manager_type;
type hubcore_exec, exec_type, file_type;

init_daemon_domain(hubcore)
net_domain(hubcore)
wakelock_use(hubcore)
binder_use(hubcore)

allow hubcore radio_device:chr_file rw_file_perms;
allow hubcore hubcore_data_file:dir create_dir_perms;
allow hubcore hubcore_data_file:file create_file_perms;
allow hubcore self:capability { net_raw net_admin };
allow hubcore proc_net:file rw_file_perms;
allow hubcore self:packet_socket create_socket_perms_no_ioctl;

# Allow access to service_manager
allow hubcore hubcore:service_manager { add find };

# Allow access to TEE
#allow hubcore tee_device:chr_file { read write open ioctl };

# Allow access to usb_devices
allow hubcore device:dir read;
allow hubcore usb_device:dir r_dir_perms;
allow hubcore usb_device:chr_file rw_file_perms;

# Allow access to sysfs for it to find the TTY device
allow hubcore sysfs:file r_file_perms;
allow hubcore sysfs:dir r_dir_perms;
allow hubcore sysfs:lnk_file r_file_perms;
